<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BookyStore - Log In</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
  <nav th:replace="fragments/header :: header"></nav>

  <h1 class="header m-4 text-center">Log In</h1>

  <div class="container">
    <div class="row">
      <div class="col-md"></div>
      <div class="col-md">
        <div th:if="${param.error}" class="alert alert-danger" role="alert">
          Invalid username and password.
        </div>
        <div th:if="${param.logout}" class="alert alert-warning" role="alert">
          You have been logged out.
        </div>
        <form th:action="@{/user/login}" method="post">
          <div class="form-outline mb-4">
            <input type="email" id="loginFormEmail" name="username" class="form-control" />
            <label class="form-label" for="loginFormEmail">Email address</label>
          </div>
          <div class="form-outline mb-4">
            <input type="password" name="password" id="loginFormPassword" class="form-control" />
            <label class="form-label" for="loginFormPassword">Password</label>
          </div>
          <input type="submit" class="btn btn-primary mb-2" value="Log in" />
          <small class="form-text text-muted">Don't have an account? <a
              th:href="@{/user/register}">Register</a>.</small>
        </form>
      </div>
      <div class="col-md"></div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</body>

</html>
